.faqsfondo{
    background-color:map-get($colores,color-1);
}

.sectionfaqs{
    background-color:map-get($colores,color-1);
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}



.faqslista li {
    font-size: map-get($font-size, md);
    color:map-get($colores,color-3);
    margin-block-end: 1rem;
    list-style: none;
justify-content: center;

}

.texto1faqs{
    height: 4rem;
    color:map-get($colores,color-4);
    background-color:map-get($colores,color-1);
    font-size:medium;
    font-family: 'Junge', serif; 
}

.pregunta1, .pregunta3, .pregunta5  {
    background-color:map-get($colores,color-5);
    margin-right: 18.75rem;
    height: 70px;
    width:100%;
    text-align: center;
    font-family: 'Junge', serif; 

}

.pregunta2, .pregunta4, .pregunta6 {
    height: 70px;
    width: 100%;
    background-color:map-get($colores,color-4);
text-align: center;
font-family: 'Junge', serif; 
}

.respuesta1, .respuesta2, .respuesta3, .respuesta4, .respuesta5, .respuesta6{
    font-size:medium;
    font-family: 'Junge', serif; 
}