@media(max-width:320px){


    h1{font-size:medium;}

    .main-index{
        margin-top: -20px;
    }
    .navbar{
        @include flex(row, nowrap, space-evenly, none, none);

        
        li a{
            text-decoration:none;
            font-family: 'Junge', serif;
            font-size: 15px;
            color:map-get($colores,color-3);
        }
    }
    

        /**index**/

    .oraciones1{
        justify-content:space-evenly;
        text-align: center;
        color:map-get($colores,color-4);  
        font-family: 'Junge', serif;
        font-size: small;
        }

    .card {

        @include flex(column, wrap, none, none, none);
    }
    .card img{
        display:ruby;
    }
    .titulo2{
        font-size: 20px;
        text-align: center;
    }

    .second-container{
        align-items: flex-end;
    }
    .second-container img{
        display:none;
    }
    .card{
        background-color:map-get($colores,color-1);
        overflow: hidden; 
        @include flex (column, nowrap, space-evenly,center, none);
    }

    .impar {
        height: 50px;
        width: 320px;
        justify-content: space-evenly;
        color:map-get($colores,color-3);
        background-color:map-get($colores,color-5);
        font-size: 15px;
        flex-wrap: wrap;
        margin-left: 218px;


    }
    
    .par{
        height: 50px;
        color:map-get($colores,color-3);
        background-color:map-get($colores,color-4);
        justify-content: space-evenly;
        flex-wrap: wrap;
        font-size: 15px;


    }
    .tercer-container{
        align-items: flex-end; 
        margin-top: -5px; 
    }
    .tercer-container img{
        display:none;
    }
    }
