@media(max-width:320px){
    .main-contacto{
        margin-top: -125px;
    }
    .formcontacto{
        background-color:map-get($colores,color-5);
        font-family: 'Junge', serif;
        font-size:10px;
    }
}