@media(max-width:320px){


    h1{font-size:medium;}

    .main-index{
        margin-top: -100px;
    }
    .titulopag{
        position: absolute;
margin-left: 10px;
margin-top: 10px;
        right: 100px;
    }
    .barranav ul{
display: none;
    }
    .navbar{ 
        display: none; 
        li a{
            display: none;
        }
    }

    .menu-hamburguesa{
        margin-top: 10px;
        margin-right: 10px;
        display: flex;
        position: absolute;
        right: 0px;
        top:0px;
        background-color:map-get($colores,color-1);
        border-radius: 10px;
        
    }

        /**index**/

    .oraciones1{
        justify-content:space-evenly;
        text-align: center;
        color:map-get($colores,color-4);  
        font-family: 'Junge', serif;
        font-size: small;
        gap:10px;

        }

    .card {

        @include flex(column, wrap, none, none, none);
    }
    .card img{
        display:ruby;
    }
    .titulo2{
        font-size: 20px;
        text-align: center;
    }

    .second-container{
        align-items: center;
        margin-left: -100px;
    }
    .second-container img{
        display:none;
    }
    .card{
        background-color:map-get($colores,color-1);
        overflow: hidden; 
        @include flex (column, nowrap, space-evenly,center, none);
    }
    .impar{
        height: 50px;
        width: 320px;
        justify-content: space-evenly;
        color:map-get($colores,color-3);
        background-color:map-get($colores,color-5);
        font-size: 2px;
        margin-left: 100px;


    }
    
    .par{
        height: 50px;
        color:map-get($colores,color-3);
        background-color:map-get($colores,color-4);
        justify-content: space-evenly;
        font-size: 2px;
        width: 320px;
        margin-left: 100px;
    }
    .tercer-container{
        @include flex(row, wrap, center, none, none);
        align-items:center; 
        align-content: center;
        margin-left: -100px;
        
    }
    .tercer-container img{
        display:none;
    }

    .oraciones1y2{
        margin-top: 50px;
    }

    main-index{
        background-color: none;
    }

    }
